@charset "UTF-8";

@keyframes slideDown {
	from {
  			top: -10%;
  			transition: all .3s ease-in-out;
  			-webkit-transition: all .3s ease-in-out;
  			-moz-transition: all .3s ease-in-out;
  			-ms-transition: all .3s ease-in-out;
  			-o-transition: all .3s ease-in-out;
}
	to   {  opacity: 1;
  			top: 0;
		 }
}


.layer-dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9999;
}

.layer-wrap {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.layer-inner {
	position: relative;
	width: 50vw;
	height: 90vh;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,.9);
	-moz-box-shadow: 0px 0px 9px -3px rgba(0,0,0,.9);
	box-shadow: 0px 0px 9px -3px rgba(0,0,0,.9);
	overflow: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
	animation: slideDown .5s both;
	-webkit-animation: slideDown .5s both;
}

.layer-inner::-webkit-scrollbar {
    display:none;
}

.layer-title {
    margin:10px 0 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.layer-title h2{
	overflow: hidden;
	padding-left:2.7rem;
	padding-right:2.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height: 32px;
}

.layer-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
	border: none;
	font-size: 1.8rem;
}

.layer-btn-close > svg{
   vertical-align: top;
}

/* 반응형 */
@media screen and (max-width: 1024px) {
	.layer-inner {
		width: 70vw;
	}

	.layer-title h2{
		display:inline-block;
		max-width: 90%;
		padding-left: 0;
		padding-right: 1rem;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 700px) {
	.layer-inner {
		width: 90vw;
	}
}

@media screen and (max-width: 360px) {
	.layer-btn-close {
		font-size: 1.5rem;
	}
}